table {
  color: white;
  width: fill;
}
.body{
  display: flex;
  align-items: center;
}
.cadre{
    display: flex;
    justify-content: center;
    height: fill;
}
.bandeau{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 60%;
  margin-bottom: -1vw;
}

caption{
    font-size: 2vw;
    color: red;
}

.valider{
    border-radius: 1vw;
    cursor: pointer;
    background-color: red;
    color: white;
    border-color: red;
    width: 5vw;
    height: 1.3vw;
}

.valider:hover{
    border-color: white;
}

table{
    width: 100%;
    padding: 2vw;
}

.bonsoir:hover{
    border-color: black;
    cursor: pointer;
}

input[type=text]{
    width: 100%;
}
.valid{
    border-radius: 1vw;
    cursor: pointer;
    background-color: red;
    color: white;
    border-color: red;
    width: 5vw;
    height: 2vw;
    font-weight: bold;
    font-size: 0.8vw;
    margin-left: 1vw;
}

.valid:hover{
    border-color: white;
}

.suppr{
    margin-left: 8vw;
}