

/*GENERAL*/
*{
  margin:0
}
/*
.fake{
  height: 2000px
}
*/
/*MAIN */
main{
  background: linear-gradient(#c5edea, #6ca8a4) ;
  height:auto;
  width:100%;
  font-size: 1vw;
  color: black;
  padding-bottom: 1vw;
  min-height: 100%;
}
/*Fake Header*/
header img{
  height: 10vw;
  width: 10vw;
}

html, body {
  height: 100%;
  margin: 0; padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  display : table;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.haut{
  position: relative;
  z-index: 10;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#c5edea, #a5ccc9) ;
}

h1{
  font-size: 5vw;
  color: white;
  font-family: 'Sniglet', sans-serif;
}
h2{
  color: Black;
}

.liste{
  z-index: 10;
  overflow: hidden;
  position: sticky;
  top:0;
  background: linear-gradient(#c5edea, #a5ccc9) ;
  height: 2vw;
  font-family: 'Acme', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.liste li a{
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.5vw;
  color: white;
  min-width: 10vw;
}
.liste li:hover{
  display: flex;
  align-items: center;
  text-decoration: none;
  background-image: radial-gradient(ellipse at 50% 110%, rgba(255,255,255,0.50)10%,transparent 75%);
  height: fill;
  padding-bottom: 0.25vw;
  min-width: 1vw;
}

/*FOOTER*/

footer {
  position:absolute;
  width: 100%;
  background-color: #64a1a1;
}
.footer{
  height: 4vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1vw;
}

.footer a, .Copyright p{
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: 'Acme', sans-serif;
  color: black;
  font-size: 1vw;
}
.footer a:hover{
  text-shadow: 140vw 0 9vw black;
  color: white;
}

/*Chambre*/

.fake {
  display: flex;
  align-items: center;
}


::-webkit-scrollbar {
  display: none;
}


.erreur{
  z-index: -1;
  border-radius: 0 0 1.5vw 1.5vw;
  padding-left: 2vw;
  display: flex;
  align-items: center;
  animation : open;
  animation-duration: 1.2s;
  color: white;
  background-color: red;
  font-size: 2.5vw;
  font-family: 'Acme', sans-serif;
  text-decoration: none;
  overflow: hidden;
}


@keyframes open {
  to {transform: translateY(0);}
  from {transform: translateY(-100%)}
}
